<header class="header">
<div class="navigation">
<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>
<ul class="menu">
<li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li>
<li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
<li class="menu__entry"><a href="https://pinkr1ver.notion.site/8bdf69c8c8ca46b5997fe45c24a8f9f2?v=f0e5e89f9d3746cf8fd248d94eeb90e5">Notes</a></li>
<li class="menu__entry"><a href="https://pinkr1ver.notion.site/3cfdd332b9a94b20bca041f2aa2bdcd2?v=24e696e6ab754386a710bc8e83976357" target="_blank">Photo Gallery</a></li>
<li class="menu__entry"><a href="https://pinkr1ver.notion.site/5e136466f3664ff1aaaa75b85446e5b4?v=a41efbce52a84f7aa89d8f649f4620f6" target="_blank">Watching List</a></li>
</ul>
</div>
<ul class="social-links">
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fa fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fa fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fa fa-linkedin"></i>
</a>
{% endif %}
{% if site.author.twitter %}
<a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
<i class="fa fa-twitter"></i>
</a>
{% endif%}
{% if site.plugins %}
<a href="feed.xml" class="social-links__entry" target="_blank">
<i class="fa fa-rss"></i>
</a>
{% endif%}
</ul>
</header>